.display {
    background-color: grey;
    width: 280px;
    padding: 10px;
}
.numberBox {
    background-color: white;
    border: solid black;
    margin: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.numberButton {
    background-color: lightgreen;
    border: solid black;
    padding: 30px 50px;
    margin: 10px;
}

.numberButton2 {
    background-color: rgb(95, 231, 95);
    border: solid black;
    padding: 30px 120px;
    margin: 10px;
}